$white: #FFFFFF;
$black: #000000;
$pink-principal: #FBA1B7;
$pink-light: #FFD1DA;
$pink-very-light: #FFF0F5;
$yelow-complementary: #FFDBAA;
$vsm: 12px;
$sm: 16px;
$md: 20px;
$lg: 24px;
$vlg: 28px;
$big: 32px;